body {
    margin:0;
    font-family:"Helvetica Nueue", sans-serif;
}

.myClass {
    background-color: #FF0000;
    height: 2vh;
    width: 20vw;

}

#settings {
	
	font-family: "Helvetica Nueue", sans-serif;
	color: #DDD;
	float:left;
	position: absolute;
    left: 5px; 
    top: 25px;
    opacity: 0.9;
	
	
}

#readOut{
	background-color: #222;
	width: 150px;
	padding: 20px;
    left: 15px; 
    top: 5px;
}

#edit {
	background-color: #222;
	color: #AAA;
	padding: 20px;
    top: 5px;
}

#canvas {
	background-color: #333;
	height:100vh;
	width: 100vw;
	
}

#circleContainer {
	height: 100vh;
	width: 100vw;

}